body {
			margin: 0px;
			font-family: Lantinghei SC;
		}
	.header {
		padding: 30px;
		width: 100%;
		height: 200px;
		background-color: #53c553;
		color: white;
		text-align: center;
	}
	.row {
		padding: 30px;
		clear: both;
		box-sizing: border-box;
	}
	@media(max-width: 480px){
		.col-md-1 {
			float: left;
			width: 100%;
			box-sizing:border-box;
			padding: 30px;
		}
	}

	@media(min-width: 481px){
		.col-md-1 {
			float: left;
			width: 33%;
			box-sizing:border-box;
			padding: 30px;
		}
	}
	.img_responsive {
		max-width: 100%;
	}